/* scss goes here */
body {
  background-color: #f5f5f5;
  color: #bdbdbd; // grey-text text-lighten-1
  // font-family: 'Varela Round', sans-serif;
}
body.noscroll {
  overflow: hidden;
}

::placeholder {
  // font-style: italic;
  color: #aaa;
}

textarea:focus {
  outline: none;
}

.fixed {
  top:0;
  position: fixed;
  width: 100%;
}

.nav-wrapper {
  /*box-shadow: none;*/
}

.breadcrumb:before {
  color: inherit;
}

#nav-mobile {
  color: black;
}


ul:hover .dropdown-content {
  display: block;
}

.search .prefix.active {
  color: inherit;
}

a, a:visited {
  /*text-decoration: none;*/
  color: inherit;
  cursor: pointer;
}

label, .noselect {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* label focus color */
.input-field input:focus + label {
  color: none !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: none !important;
  box-shadow: none !important
}

form input, form select, form textarea {
  color: black;
}

/* custom */
a:visited {
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  display: inline-block;
  padding: 0.1em 1em;
}

/* custom classes */

// const overlayStyle = this.state.open ? {opacity: 1, transition: "opacity 0.3s ease"} : {opacity: 0, transition: "opacity 0.3s ease"}

#nav-mobile {
  transform: translateX(-100%);
  transition: 0.3s ease;
}

#nav-mobile.open {
  transform: translateX(0px);
}
